<head>
    <title>Party!</title>
</head>
<body>
    <div>
        <div class="text-center">
            <h3>We're going to have an exciting party. </h3>
            <a asp-action="RsvpForm" class="btn btn-primary">RSVP Now</a>
        </div>
    </div>
</body>
